* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightgray;
}

#title {
    z-index: 20;
    font-size: 5vw;
    position: absolute;
    left: 24%;
    top: 5vh;
    width: 100%;
    background-image: linear-gradient(to left, red, orange, green, blue, violet, indigo);
    background-clip: text;
    animation: animate 3s linear infinite;
    background-size: 500%;
    color: transparent;
}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}

.container {
    background-color: white;
    border: 0.25vw solid black;
    margin-left: 18vw;
    margin-top: 15vh;
    width: 60vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#generateBtn {
    width: 10vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

#generateBtn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#downloadBtn {
    width: 10vw;
    font-size: 1vw;
    transition: transform 0.3s ease;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

#downloadBtn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.container .block {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background: #444;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.4);
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#options {
    width: 10vw;
    height: 7vh;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#options:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#quantity {
    text-align: center;
    width: 10vw;
    height: 7vh;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#quantity:hover {
    transform: scale(1.02);
    cursor: text;
}

#color {
    width: 10vw;
    height: 7vh;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#color:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.top {
    font-size: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
    z-index: 15;
    margin: 1vw;
}

.sidebar {
    position: absolute;
    justify-content: center;
    left: 0;
    width: 15vw;
    height: 100vh;
    z-index: 15;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}